<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Login Page | Amaze UI Example</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="alternate icon" type="image/png" href="~/Areas/Admin_Rental/assets/i/favicon.png">
    <link rel="stylesheet" href="~/Areas/Admin_Rental/assets/css/amazeui.min.css" />
    <style>
        .header {
            text-align: center;
        }

            .header h1 {
                font-size: 200%;
                color: #333;
                margin-top: 30px;
            }

            .header p {
                font-size: 14px;
            }
    </style>
</head>
<body>
    <div class="header">
        <div class="am-g">
            <h1>Web ide</h1>
            @*<p>Integrated Development Environment<br />代码编辑，代码生成，界面设计，调试，编译</p>*@
        </div>
        <hr />
    </div>
    <div class="am-g">
        <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
            <h3>登录</h3>
            <hr>
            <div class="am-btn-group">
                <img src="~/Areas/Admin_Rental/assets/i/favicon.png" />
                <img src="~/Areas/Admin_Rental/assets/i/favicon.png" />
                <img src="~/Areas/Admin_Rental/assets/i/favicon.png" />
                <img src="~/Areas/Admin_Rental/assets/i/favicon.png" />
                @*<a href="#" class="am-btn am-btn-secondary am-btn-sm"><i class="am-icon-github am-icon-sm"></i> Github</a>
                    <a href="#" class="am-btn am-btn-success am-btn-sm"><i class="am-icon-google-plus-square am-icon-sm"></i> Google+</a>
                    <a href="#" class="am-btn am-btn-primary am-btn-sm"><i class="am-icon-stack-overflow am-icon-sm"></i> stackOverflow</a>*@
            </div>
            <br>
            <br>
            <form class="am-form">
                <label for="email">用户名:</label>
                <input type="text" name="" id="User_Name">
                <br>
                <label for="password">密码:</label>
                <input type="password" name="" id="User_PassWord">
                <br>
                @*<label for="remember-me">
                        <input id="remember-me" type="checkbox">
                        记住密码
                    </label>*@
                <br />
                <div class="am-cf">
                    <input type="button" id="Login" name="" value="登 录" class="am-btn am-btn-primary am-btn-sm am-fl">
                    <input type="button" name="" value="忘记密码 ^_^? " class="am-btn am-btn-default am-btn-sm am-fr">
                </div>
            </form>
            <hr>
            <footer class="admin-content-footer">
                <hr>
                <p class="am-padding-left">© 2018 AllMobilize, Inc. Licensed under MIT license.</p>
            </footer>
        </div>
    </div>
    <div style="display:none" class="hid-token-page">
        @Html.AntiForgeryToken()
    </div>
</body>
</html>
<script src="~/Areas/Admin_Rental/assets/js/jquery.min.js"></script>
<script src="~/Areas/Admin_Rental/assets/js/amazeui.js"></script>
<script src="~/Areas/Admin_Rental/assets/js/amazeui.dialog.js"></script>
<script src="~/Areas/Admin_Rental/assets/js/MsgAlert.js"></script>
<script src="~/Areas/Admin_Rental/assets/js/jquery.cookie.js"></script>

<script type="text/javascript">
    $(function () {
        //if ($.cookie('username')!=null)
        //alert($.cookie('username'));

        var User_Name, User_PassWord;

        $("#Login").click(function () {

            User_Name = $("#User_Name").val();
            User_PassWord = $("#User_PassWord").val();

            if (User_Name.trim() == '') {
                MsgAlert("请输入用户名！");
                return;
            }

            if (User_PassWord.trim() == '') {
                MsgAlert("请输入密码！");
                return;
            }

            var jsondata = {
                User_Name: User_Name,
                User_PassWord: User_PassWord,
                __RequestVerificationToken: $(".hid-token-page").find("input").val()
            }

            $.ajax({
                url: '/Login/Login',   //对应于/controllerName/ActionName
                data: jsondata,
                type: 'post',
                cache: false,
                dataType: 'json',
                success: function (data) {
                    if (data.Status)
                        if (GetQueryString("ReturnUrl") == null) {
                            //MsgAlert_href(data.Msg, "http://172.21.21.44:8086/Admin_Rental/Permission/Index");
                        }
                        else {
                            alert(GetQueryString("ReturnUrl"));
                            MsgAlert_href(data.Msg, GetQueryString("ReturnUrl"));
                        }
                    else {
                        MsgAlert(data.Msg);
                    }
                }
            });

        })


        function GetQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }

    });



</script>